<h1 id="contacto">Contacto:</h1>
<section class="d-flex row">
    <div class="col-xxl-12 col-xl-12 col-md-12">
        <div class="style3 d-flex position-relative">
            <div>
                <p><b>Email: </b> <a href="mailto:fabriterciariourquiza@gmail.com"
                        class="style5">fabriterciariourquiza@gmail.com</a></p>
                <p><b>LinkedIn: </b><a href="https://www.linkedin.com/in/fabricio-garcia-tester"
                        class="style5">www.linkedin.com/in/fabricio-garcia-tester</a></p>
                <p><b>Celular: </b><a href="tel:+5493416210853" class="style5">+54 9 3416210853</a></p>
                <p><b>Git Hub: </b><a href="https://www.github.com/FabricioGarciaGitHub?tab=repositories"
                        class="style5">www.github.com/FabricioGarciaGitHub?tab=repositories</a></p>
            </div>
            <div class="zz">
                <!-- Boton lapiz -->
                <button type="button" class="btn d-md-block" data-bs-toggle="modal" data-bs-target="#staticBackdrop"><i
                        class="fa fa-pencil" aria-hidden="true"></i></button>
                <!-- Boton cruz -->
                <button type="button" class="btn d-md-block" data-bs-toggle="modal" data-bs-target="#staticBackdrop"><i
                        class="fa fa-times" aria-hidden="true"></i></button>
            </div>
        </div>
    </div>
</section>