<h1 id="contacto">Contacto:</h1>
<section class="d-flex row">
    <div class="col-xxl-12 col-xl-12 col-md-12">
        <div class="style3 d-flex position-relative">
            <div>
                <p><b>Email: </b> <a href="mailto:fabriterciariourquiza@gmail.com"
                        class="style5">fabriterciariourquiza@gmail.com</a></p>
                <p><b>LinkedIn: </b><a href="https://www.linkedin.com/in/fabricio-garcia-tester"
                        class="style5">www.linkedin.com/in/fabricio-garcia-tester</a></p>
                <p><b>Celular: </b><a href="tel:+5493416210853" class="style5">+54 9 3416210853</a></p>
                <p><b>Git Hub: </b><a href="https://www.github.com/FabricioGarciaGitHub?tab=repositories"
                        class="style5">www.github.com/FabricioGarciaGitHub?tab=repositories</a></p>
            </div>
            <div class="zz">
                <!-- Boton lapiz -->
                <button type="button" class="btn d-md-block" data-bs-toggle="modal" data-bs-target="#modal-editar-contacto"><i
                        class="fa fa-pencil" aria-hidden="true"></i></button>
                <!-- Boton cruz -->
                <button type="button" class="btn d-md-block" data-bs-toggle="modal" data-bs-target="#modal-eliminar-contacto"><i
                        class="fa fa-times" aria-hidden="true"></i></button>
            </div>
        </div>
    </div>
</section>

<!-- Modal edicion campo contacto -->
<div class="modal fade" id="modal-editar-contacto" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Edita tus datos de contacto</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <label for="input-email">Ingresa tu Email (máximo 50 caracteres)</label>
          <input type="text" class="form-control" id="input-email" maxlength="50">
          <small class="form-text text-muted"><span id="counter">50</span> caracteres restantes</small>
        </div>
        <div class="form-group">
          <label for="input-linedIn">Ingresa tu link de LinkedIn (máximo 50 caracteres)</label>
          <input type="text" class="form-control" id="input-LinkeIn" maxlength="50">
          <small class="form-text text-muted"><span id="counter">50</span> caracteres restantes</small>
        </div>
        <div class="form-group">
          <label for="input-telefono">Ingresa tu Número de teléfono (formato internacional)</label>
          <input type="tel" class="form-control" id="input-telefono" placeholder="Ingresa tu número de teléfono" pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}">
        </div>
        <div class="form-group">
          <label for="input-github">Ingresa tu link de Git-Hub (máximo 50 caracteres)</label>
          <input type="text" class="form-control" id="input-github" maxlength="50">
          <small class="form-text text-muted"><span id="counter">50</span> caracteres restantes</small>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
        <button type="button" class="btn btn-primary">Guardar cambios</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal eliminar campo contacto -->
<div class="modal fade" id="modal-eliminar-contacto" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Eliminar tus medios de contacto</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        ¿Seguro desea eliminar tus medios de contacto?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
        <button type="button" class="btn btn-danger">Eliminar</button>
      </div>
    </div>
  </div>
</div>
