<!-- Formulario contacto -->
<div class="container-fluid formulario-contacto position-relative">
  <div class="well well-sm">
      <form class="form-horizontal" method="post">
          <fieldset class="fieldset">
              <legend class="header-form" id="formulario-contacto">Contacto</legend>
              <div class="form-group">
                  <span class="col-md-1 col-md-offset-2 text-center"><i class="fa fa-user bigicon"
                          aria-hidden="true"></i></span>
                  <div class="col-md-8">
                      <input id="fname" name="name" type="text" placeholder="Nombre" class="form-control">
                  </div>
              </div>
              <div class="form-group">
                  <span class="col-md-1 col-md-offset-2 text-center"><i class="fa fa-user bigicon"
                          aria-hidden="true"></i></span>
                  <div class="col-md-8">
                      <input id="lname" name="name" type="text" placeholder="Apellido" class="form-control">
                  </div>
              </div>

              <div class="form-group">
                  <span class="col-md-1 col-md-offset-2 text-center"><i class="fa-regular fa-envelope"></i></span>
                  <div class="col-md-8">
                      <input id="email" name="email" type="text" placeholder="Email" class="form-control">
                  </div>
              </div>

              <div class="form-group">
                  <span class="col-md-1 col-md-offset-2 text-center"><i class="fa fa-phone-square bigicon"
                          aria-hidden="true"></i></span>
                  <div class="col-md-8">
                      <input id="phone" name="phone" type="text" placeholder="Celular" class="form-control">
                  </div>
              </div>

              <div class="form-group">
                  <span class="col-md-1 col-md-offset-2 text-center"><i class="fa-solid fa-comment"></i></span>
                  <div class="col-md-8">
                      <textarea class="form-control" id="message" name="message"
                          placeholder="Introduzca su masaje aquí. Me pondré en contacto con usted dentro de 2 días hábiles."
                          rows="7"></textarea>
                  </div>
              </div>

              <div class="form-group">
                  <div class="col-md-12 text-center">
                      <button type="submit"
                          class="btn btn-primary btn-lg boton-formulario-contacto">Enviar</button>
                  </div>
              </div>
          </fieldset>
      </form>
  </div>
  <div class="zz">
      <!-- Boton cruz -->
      <button type="button" class="btn d-md-block" data-bs-toggle="modal"
          data-bs-target="#modal-eliminar-formContacto"><i class="fa fa-times"
              aria-hidden="true"></i></button>
  </div>
</div>

<!-- Modal eliminar campo formulario de contacto -->
<div class="modal fade" id="modal-eliminar-formContacto" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Eliminar formulario de contacto</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        ¿Seguro desea eliminar el formulario de contacto?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
        <button type="button" class="btn btn-danger">Eliminar</button>
      </div>
    </div>
  </div>
</div>
