 <!-- Idiomas -->
 <h1 class="container-fluid" id="idiomas">Idiomas:</h1>
 <section class="d-flex contenidoIdiomas">
     <div class="col-xxl-4 col-xl-4 col-md-4 d-flex position-relative">
         <div class="style3">
             <img src="assets/images/logo-ingles.png" alt="Icono del idioma inglés" class="iconoIdioma">
             <p class="parrafoIdioma"><b class="style5">Inglés:</b> Nivel intermedio.</p>
             <p>Puedo entender y participar en conversaciones simples y tengo buena comprensión de lectura y
                 escritura.</p>
         </div>
         <div class="zz">
             <!-- Boton lapiz -->
             <button type="button" class="btn d-md-block" data-bs-toggle="modal"
                 data-bs-target="#staticBackdrop"><i class="fa fa-pencil" aria-hidden="true"></i></button>
             <!-- Boton cruz -->
             <button type="button" class="btn d-md-block" data-bs-toggle="modal"
                 data-bs-target="#staticBackdrop"><i class="fa fa-times" aria-hidden="true"></i></button>
         </div>
     </div>
 </section>
