 <!-- Experiencia laboral -->
 <h1 class="container-fluid" id="Experiencia-laboral">Experiencia laboral:</h1>
 <section class="d-flex row contenidoExpLaboral">
     <!-- Tork -->
     <div class="col-xxl-4 col-xl-4 col-md-4">
         <div class="style3 d-flex position-relative">
             <div>
                 <img class="style4" src="assets/images/logo-Tork.png" alt="Logo de Tork">
                 <p class="style5"><b>Empresa:</b> Tork SA.</p>
                 <p><b>Rol:</b> Data Entry.</p>
                 <p><b>Período:</b> Abr-2021/Jul-2021.</p>
                 <p><b>Actividad:</b></p>
                 <p>Ingreso, modificación y mantenimiento de datos en la base de datos. Data Science.
                     Análisis y extracción de información relevante de la web y su ingreso en la base
                     de datos.</p>
                 <p><b>Herramientas:</b> Itris y Excel.</p> <br> <br>
             </div>
             <div class="zz">
                 <!-- Boton lapiz -->
                 <button type="button" class="btn d-md-block" data-bs-toggle="modal"
                     data-bs-target="#staticBackdrop"><i class="fa fa-pencil" aria-hidden="true"></i></button>
                 <!-- Boton cruz -->
                 <button type="button" class="btn d-md-block" data-bs-toggle="modal"
                     data-bs-target="#staticBackdrop"><i class="fa fa-times" aria-hidden="true"></i></button>
             </div>
         </div>
     </div>

     <!-- Invisible -->
     <div class="col-xxl-4 col-xl-4 col-md-4">
         <div class="style3 d-flex position-relative">
             <div>
                 <img class="style4" src="assets/images/logo-Invisible.png" alt="Logo de Invisible">
                 <p class="style5"><b>Empresa:</b> Invisible SA.</p>
                 <p><b>Rol:</b> Agente de Recopilación y verificación de datos.</p>
                 <p><b>Período:</b> Ago-2021/Oct-2021.</p>
                 <p><b>Actividad:</b></p>
                 <p>Agente de recopilación y verificación de datos desde la web. Ingreso de
                     datos al
                     sistema.</p>
                 <p><b>Herramientas:</b> Flow, Slack, GoogleSheets.</p> <br><br><br>
             </div>
             <div class="zz">
                 <!-- Boton lapiz -->
                 <button type="button" class="btn d-md-block" data-bs-toggle="modal"
                     data-bs-target="#staticBackdrop"><i class="fa fa-pencil" aria-hidden="true"></i></button>

                 <!-- Boton cruz -->
                 <button type="button" class="btn d-md-block" data-bs-toggle="modal"
                     data-bs-target="#staticBackdrop"><i class="fa fa-times" aria-hidden="true"></i></button>
             </div>
         </div>
     </div>

     <!-- Creativa Consultores -->
     <div class="col-xxl-4 col-xl-4 col-md-4">
         <div class="style3 d-flex position-relative">
             <div>
                 <img class="style4" src="assets/images/logo-Creativa-Consultores.png"
                     alt="Logo de Creativa Consultores">
                 <p class="style5"><b>Empresa:</b> Creativa Consultores SA.</p>
                 <p><b>Rol:</b> Analista QA.</p>
                 <p><b>Período:</b> Nov-2021/Ene-2022.</p>
                 <p><b>Actividad:</b></p>
                 <p>Pasantía como Analista QA. Crear, diseñar y ejecutar Test Cases y Test
                     Suite.
                     Reporte de bugs. Redacción de estrategias de pruebas. Plan de pruebas.</p>
                 <p><b>Herramientas:</b> Microsoft Word, TestLink y Excel.</p><br><br>
             </div>
             <div class="zz">
                 <!-- Boton lapiz -->
                 <button type="button" class="btn d-md-block" data-bs-toggle="modal"
                     data-bs-target="#staticBackdrop"><i class="fa fa-pencil" aria-hidden="true"></i></button>

                 <!-- Boton cruz -->
                 <button type="button" class="btn d-md-block" data-bs-toggle="modal"
                     data-bs-target="#staticBackdrop"><i class="fa fa-times" aria-hidden="true"></i></button>
             </div>
         </div>
     </div>
 </section>
