 <!-- Experiencia laboral -->
 <div class="d-flex position-relative" id="Experiencia-laboral">
  <div>
      <h1 class="container-fluid">Experiencia laboral:</h1>
  </div>
  <div class="position-absolute zz">
    <!-- Boton plus -->
    <button type="button" class="btn d-md-block" data-bs-toggle="modal"
        data-bs-target="#modal-agregar-experiencia-laboral"><i class="fa-solid fa-plus"></i></button>
</div>
</div>
 <section class="d-flex row contenidoExpLaboral">
     <!-- Tork -->
     <div class="col-xxl-4 col-xl-4 col-md-4">
         <div class="style3 d-flex position-relative">
             <div>
                 <img class="style4" src="assets/images/logo-Tork.png" alt="Logo de Tork">
                 <p class="style5"><b>Empresa:</b> Tork SA.</p>
                 <p><b>Rol:</b> Data Entry.</p>
                 <p><b>Período:</b> Abr-2021/Jul-2021.</p>
                 <p><b>Actividad:</b></p>
                 <p>Ingreso, modificación y mantenimiento de datos en la base de datos. Data Science.
                     Análisis y extracción de información relevante de la web y su ingreso en la base
                     de datos.</p>
                 <p><b>Herramientas:</b> Itris y Excel.</p> <br> <br>
             </div>
             <div class="zz">
                 <!-- Boton pencil -->
                 <button type="button" class="btn d-md-block" data-bs-toggle="modal"
                     data-bs-target="#modal-editar-expLaboral"><i class="fa fa-pencil" aria-hidden="true"></i></button>
                 <!-- Boton trash -->
                 <button type="button" class="btn d-md-block" data-bs-toggle="modal"
                     data-bs-target="#modal-eliminar-expLaboral"><i
                     class="fa-solid fa-trash-can"></i></button>
             </div>
         </div>
     </div>

     <!-- Invisible -->
     <div class="col-xxl-4 col-xl-4 col-md-4">
         <div class="style3 d-flex position-relative">
             <div>
                 <img class="style4" src="assets/images/logo-Invisible.png" alt="Logo de Invisible">
                 <p class="style5"><b>Empresa:</b> Invisible SA.</p>
                 <p><b>Rol:</b> Agente de Recopilación y verificación de datos.</p>
                 <p><b>Período:</b> Ago-2021/Oct-2021.</p>
                 <p><b>Actividad:</b></p>
                 <p>Agente de recopilación y verificación de datos desde la web. Ingreso de
                     datos al
                     sistema.</p>
                 <p><b>Herramientas:</b> Flow, Slack, GoogleSheets.</p> <br><br><br>
             </div>
             <div class="zz">
                 <!-- Boton pencil -->
                 <button type="button" class="btn d-md-block" data-bs-toggle="modal"
                     data-bs-target="#modal-editar-expLaboral"><i class="fa fa-pencil" aria-hidden="true"></i></button>

                 <!-- Boton trash -->
                 <button type="button" class="btn d-md-block" data-bs-toggle="modal"
                     data-bs-target="#modal-eliminar-expLaboral"><i
                     class="fa-solid fa-trash-can"></i></button>
             </div>
         </div>
     </div>

     <!-- Creativa Consultores -->
     <div class="col-xxl-4 col-xl-4 col-md-4">
         <div class="style3 d-flex position-relative">
             <div>
                 <img class="style4" src="assets/images/logo-Creativa-Consultores.png"
                     alt="Logo de Creativa Consultores">
                 <p class="style5"><b>Empresa:</b> Creativa Consultores SA.</p>
                 <p><b>Rol:</b> Analista QA.</p>
                 <p><b>Período:</b> Nov-2021/Ene-2022.</p>
                 <p><b>Actividad:</b></p>
                 <p>Pasantía como Analista QA. Crear, diseñar y ejecutar Test Cases y Test
                     Suite.
                     Reporte de bugs. Redacción de estrategias de pruebas. Plan de pruebas.</p>
                 <p><b>Herramientas:</b> Microsoft Word, TestLink y Excel.</p><br><br>
             </div>
             <div class="zz">
                 <!-- Boton pencil -->
                 <button type="button" class="btn d-md-block" data-bs-toggle="modal"
                     data-bs-target="#modal-editar-expLaboral"><i class="fa fa-pencil" aria-hidden="true"></i></button>

                 <!-- Boton trash -->
                 <button type="button" class="btn d-md-block" data-bs-toggle="modal"
                     data-bs-target="#modal-eliminar-expLaboral"><i
                     class="fa-solid fa-trash-can"></i></button>
             </div>
         </div>
     </div>
 </section>

 <!-- Modal edicion experiencia-laboral -->
 <div class="modal fade" id="modal-editar-expLaboral" tabindex="-1" aria-labelledby="exampleModalLabel"
 aria-hidden="true">
 <div class="modal-dialog">
     <div class="modal-content">
         <div class="modal-header">
             <h5 class="modal-title" id="exampleModalLabel">Edita tus datos laborales</h5>
             <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
         </div>
         <div class="modal-body">
             <div class="form-group">
                 <label for="input-empresa">Ingresa el nombre de la empresa (máximo 50 caracteres)</label>
                 <input type="text" class="form-control" id="input-empresa" maxlength="50">
                 <small class="form-text text-muted"><span id="counter">50</span> caracteres
                     restantes</small>
             </div>
             <div class="form-group">
                 <label for="inputfa-flip-horizontal">Ingresa tu rol laboral (máximo 50 caracteres)</label>
                 <input type="text" class="form-control" id="input-rol" maxlength="50">
                 <small class="form-text text-muted"><span id="counter">50</span> caracteres
                     restantes</small>
             </div>
             <div class="form-group">
                 <label for="input-alta">Ingresa la fecha de alta</label>
                 <input type="date" class="form-control" id="input-alta">
             </div>
             <div class="form-group">
              <label for="input-cese">Ingresa la fecha de cese</label>
              <input type="date" class="form-control" id="input-cese">
              </div>
             <div class="form-group">
                 <label for="input-actividad">Describe la actividad realizada (máximo 50 caracteres)</label>
                 <input type="text" class="form-control" id="input-actividad" maxlength="50">
                 <small class="form-text text-muted"><span id="counter">50</span> caracteres
                     restantes</small>
             </div>
             <div class="form-group">
                 <label for="input-herramientas">Describe las herramientas empleadas (máximo 50
                     caracteres)</label>
                 <input type="text" class="form-control" id="input-herramientas" maxlength="50">
                 <small class="form-text text-muted"><span id="counter">50</span> caracteres
                     restantes</small>
             </div>
         </div>
         <div class="modal-footer">
             <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
             <button type="button" class="btn btn-primary">Guardar cambios</button>
         </div>
     </div>
 </div>
</div>

<!-- Modal eliminar campo expLaboral -->
<div class="modal fade" id="modal-eliminar-expLaboral" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Eliminar experiencia laboral</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        ¿Seguro desea eliminar esta experiencia laboral?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
        <button type="button" class="btn btn-danger">Eliminar</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal agregar experiencia laboral -->
<div class="modal fade" id="modal-agregar-experiencia-laboral" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Agrega una nueva experiencia laboral</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <label for="input-foto-empresa">Selecciona una imagen</label>
          <input type="file" class="form-control" id="input-foto-empresa">
        </div>
        <div class="form-group">
          <label for="input-empresa">Nombre de la empresa</label>
          <input type="text" class="form-control" id="input-empresa" maxlength="50">
          <small class="form-text text-muted"><span id="counter">50</span> caracteres restantes</small>
        </div>
        <div class="form-group">
          <label for="input-rol">Rol laboal</label>
          <input type="text" class="form-control" id="input-rol" maxlength="50">
          <small class="form-text text-muted"><span id="counter">50</span> caracteres restantes</small>
        </div>
        <div class="form-group">
          <label for="input-alta">Ingrese la fecha de alta</label>
          <input type="date" class="form-control" id="input-alta">
        </div>
        <div class="form-group">
          <label for="input-cese">Ingresa la fecha de cese</label>
          <input type="date" class="form-control" id="input-cese">
          </div>
        <div class="form-group">
          <label for="input-actividad">Actividad laboral</label>
          <input type="text" class="form-control" id="input-actividad" maxlength="100">
          <small class="form-text text-muted"><span id="counter">100</span> caracteres restantes</small>
        </div>
        <div class="form-group">
          <label for="input-herramientas">Principales herramientas utilizadas</label>
          <input type="text" class="form-control" id="input-herramientas" maxlength="50">
          <small class="form-text text-muted"><span id="counter">50</span> caracteres restantes</small>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondaray" data-bs-dismiss="modal">Cerrar</button>
        <button type="button" class="btn btn-primary">Agregar</button>
      </div>
    </div>
  </div>
</div>
