<!-- Proyectos -->
<h1 class="container-fluid" id="proyectos">Proyectos:</h1>
<section class="d-flex">
    <div class="col-xxl-4 col-xl-4 col-md-4 d-flex position-relative">
        <div class="style3 col-12">
            <img src="assets/images/logo-Arg-Prog.png" alt="Logo de Argentina Programa" class="style4">
            <p class="parrafoIdioma">Programación Web Full Stack - 480hs reloj.</p>
            <p><b>Período:</b> Ago-2022 - Nov-2022</p>
        </div>
        <div class="zz">
            <!-- Boton lapiz -->
            <button type="button" class="btn d-md-block" data-bs-toggle="modal"
                data-bs-target="#staticBackdrop"><i class="fa fa-pencil" aria-hidden="true"></i></button>
            <!-- Boton cruz -->
            <button type="button" class="btn d-md-block" data-bs-toggle="modal"
                data-bs-target="#staticBackdrop"><i class="fa fa-times" aria-hidden="true"></i></button>
        </div>
    </div>
</section>
