<!-- Proyectos -->
<h1 class="container-fluid" id="proyectos">Proyectos:</h1>
<section class="d-flex">
    <div class="col-xxl-4 col-xl-4 col-md-4 d-flex position-relative">
        <div class="style3 col-12">
            <img src="assets/images/logo-Arg-Prog.png" alt="Logo de Argentina Programa" class="style4">
            <p class="parrafoIdioma">Programación Web Full Stack - 480hs reloj.</p>
            <p><b>Período:</b> Ago-2022 - Nov-2022</p>
        </div>
        <div class="zz">
            <!-- Boton lapiz -->
            <button type="button" class="btn d-md-block" data-bs-toggle="modal"
                data-bs-target="#modal-edicion-proyecto"><i class="fa fa-pencil" aria-hidden="true"></i></button>
            <!-- Boton cruz -->
            <button type="button" class="btn d-md-block" data-bs-toggle="modal"
                data-bs-target="#modal-eliminar-proyecto"><i class="fa fa-times" aria-hidden="true"></i></button>
        </div>
    </div>
</section>


<!-- Modal edicion campo proyectos -->
<div class="modal fade" id="modal-edicion-proyecto" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Edita tu proyecto</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <label for="input-foto">Selecciona una imagen</label>
          <input type="file" class="form-control" id="input-foto">
        </div>
        <div class="form-group">
          <label for="input-establecimiento">Ingresa el nombre del proyecto (máximo 50 caracteres)</label>
          <input type="text" class="form-control" id="input-establecimiento" maxlength="50">
          <small class="form-text text-muted"><span id="counter">50</span> caracteres restantes</small>
        </div>
        <div class="form-group">
          <label for="input-estudio">Ingresa el titulo de tu proyecto y las horas de reloj</label>
          <input type="text" class="form-control" id="input-estudio" maxlength="50">
          <small class="form-text text-muted"><span id="counter">50</span> caracteres restantes</small>
        </div>
        <div class="form-group">
          <label for="input-fecha">Ingresa la fecha de finalización</label>
          <input type="date" class="form-control" id="input-fecha" maxlength="50">
          <small class="form-text text-muted"><span id="counter">50</span> caracteres restantes</small>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
        <button type="button" class="btn btn-primary">Guardar cambios</button>
      </div>
    </div>
  </div>
</div>


<!-- Modal eliminar campo proyectos -->
<div class="modal fade" id="modal-eliminar-proyecto" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Eliminar tu proyecto</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        ¿Seguro desea eliminar este proyecto?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
        <button type="button" class="btn btn-danger">Eliminar</button>
      </div>
    </div>
  </div>
</div>
