 <!-- Foother -->
 <footer class="d-flex justify-content-center position-relative">
    <div class="logo">
        <br> <br>
        <p class="font-italic">Todos los derechos reservados.© <b>Fabricio García</b></p>
    </div>
    <div class="zz">
        <!-- Boton lapiz -->
        <button type="button" class="btn d-md-block" data-bs-toggle="modal" data-bs-target="#modal-edicion-foother"><i
            class="fa fa-pencil" aria-hidden="true"></i></button>
        <!-- Boton cruz -->
        <button type="button" class="btn d-md-block" data-bs-toggle="modal" data-bs-target="#modal-eliminar-foother"><i
            class="fa fa-times" aria-hidden="true"></i></button>
    </div>
</footer>

<!-- Modal edicion campo footer -->
<div class="modal fade" id="modal-edicion-foother" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Edita tu Foother</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <label for="input-foother">Ingresa el contenido del Foother (máximo 50 caracteres)</label>
          <input type="text" class="form-control" id="input-foother" maxlength="50">
          <small class="form-text text-muted"><span id="counter">50</span> caracteres restantes</small>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
        <button type="button" class="btn btn-primary">Guardar cambios</button>
      </div>
    </div>
  </div>
</div>


<!-- Modal eliminar campo footer -->
<div class="modal fade" id="modal-eliminar-foother" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Eliminar tu Foother</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        ¿Seguro desea eliminar el Foother?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
        <button type="button" class="btn btn-danger">Eliminar</button>
      </div>
    </div>
  </div>
</div>
