 <!-- Seccion Educacion -->
 <h1 class="container-fluid" id="educacion">Educación:</h1>
 <section class="d-flex row">

     <!-- Titulo electromecanico -->
     <div class="col-xxl-4 col-xl-4 col-md-4">
         <div class="style3 d-flex zz position-relative">
             <div>
                 <img class="style4" src="assets/images/logo-Escuela.jfif" alt="Titulo tecnico electromecanico">
                 <p class="style5">E.E.T.n° 471 - Rodolfo Rivarola n°10</p>
                 <p>Técnico electromecánico</p>
                 <p><b>Período:</b> 2011 - 2008</p>
             </div>
             <div class="zz">
                 <!-- Boton lapiz -->
                 <button type="button" class="btn d-md-block" data-bs-toggle="modal"
                     data-bs-target="#modal-edicion-educacion"><i class="fa fa-pencil" aria-hidden="true"></i></button>
                 <!-- Boton cruz -->
                 <button type="button" class="btn d-md-block" data-bs-toggle="modal"
                     data-bs-target="#modal-eliminar-educacion"><i class="fa fa-times" aria-hidden="true"></i></button>
             </div>
         </div>
     </div>

     <!------------------------------------------------------------------------------------------------------------------->

     <!-- EGG Education estudio -->
     <div class="col-xxl-4 col-xl-4 col-md-4">
         <div class="style3 d-flex zz position-relative">
             <div>
                 <img class="style4" src="assets/images/logo-Egg-Education.jfif"
                     alt="Certificado curso EGG education">
                 <p class="style5">EGG Education</p>
                 <p>Programación desde cero - 80hs reloj</p>
                 <p><b>Período:</b> Abr-2022 - Jun-2022</p>
             </div>
             <div class="zz">
                 <!-- Boton lapiz -->
                 <button type="button" class="btn d-md-block" data-bs-toggle="modal"
                     data-bs-target="#modal-edicion-educacion"><i class="fa fa-pencil" aria-hidden="true"></i></button>

                 <!-- Boton cruz -->
                 <button type="button" class="btn d-md-block" data-bs-toggle="modal"
                     data-bs-target="#modal-eliminar-educacion"><i class="fa fa-times" aria-hidden="true"></i></button>
             </div>
         </div>
     </div>

<!------------------------------------------------------------------------------------------------------------------->

     <!-- Universidad de Chubut estudio -->
     <div class="col-xxl-4 col-xl-4 col-md-4 position-relative">
         <div class="style3 d-flex zz position-relative">
             <div>
                 <img class="style4" src="assets/images/logo-universidad-Chubut.png"
                     alt="Certificado curso Universidad de Chubut">
                 <p class="style5"> Universidad de Chubut</p>
                 <p>Programación Web Services - 96hs reloj</p>
                 <p><b>Período:</b> Mar-2022 - Ago-2022</p>
             </div>
             <div class="zz">
                 <!-- Boton lapiz -->
                 <button type="button" class="btn d-md-block" data-bs-toggle="modal"
                     data-bs-target="#modal-edicion-educacion"><i class="fa fa-pencil" aria-hidden="true"></i></button>

                 <!-- Boton cruz -->
                 <button type="button" class="btn d-md-block" data-bs-toggle="modal"
                     data-bs-target="#modal-liminar-educacion"><i class="fa fa-times" aria-hidden="true"></i></button>
             </div>
         </div>
     </div>

<!------------------------------------------------------------------------------------------------------------------->

     <!-- Argentina programa primera etapa -->
     <div class="col-xxl-4 col-xl-4 col-md-4 position-relative">
         <div class="style3 d-flex zz position-relative">
             <div>
                 <img class="style4" src="assets/images/logo-Arg-Prog.png"
                     alt="Certificado curso Argentina programa primera etapa">
                 <p class="style5">Argentina Programa primera etapa</p>
                 <p>Fundamentos básicos de la programación - 60hs reloj</p>
                 <p><b>Período:</b> Jul-2022 - Sep-2022</p>
             </div>
             <div class="zz">
                 <!-- Boton lapiz -->
                 <button type="button" class="btn d-md-block" data-bs-toggle="modal"
                     data-bs-target="#modal-edicion-educacion"><i class="fa fa-pencil" aria-hidden="true"></i></button>

                 <!-- Boton cruz -->
                 <button type="button" class="btn d-md-block" data-bs-toggle="modal"
                     data-bs-target="#modal-eliminar-educacion"><i class="fa fa-times" aria-hidden="true"></i></button>
             </div>
         </div>
     </div>

<!------------------------------------------------------------------------------------------------------------------->

     <!-- Programacion codo a codo -->
     <div class="col-xxl-4 col-xl-4 col-md-4 position-relative">
         <div class="style3 d-flex zz position-relative">
             <div>
                 <img class="style4" src="assets/images/logo-CodoACodo.jfif" alt="Certificado curso Codo a Codo">
                 <p class="style5">Programación Codo a Codo</p>
                 <p>Fundamentos básicos de la programación - 60hs reloj</p>
                 <p><b>Período:</b> Ago-2022 - Nov-2022</p>
             </div>
             <div class="zz">
                 <!-- Boton lapiz -->
                 <button type="button" class="btn d-md-block" data-bs-toggle="modal"
                     data-bs-target="#modal-edicion-educacion"><i class="fa fa-pencil" aria-hidden="true"></i></button>

                 <!-- Boton cruz -->
                 <button type="button" class="btn d-md-block" data-bs-toggle="modal"
                     data-bs-target="#modal-eliminar-educacion"><i class="fa fa-times" aria-hidden="true"></i></button>
             </div>
         </div>
     </div>

<!------------------------------------------------------------------------------------------------------------------->

     <!-- Argentina Programa segunda etapa -->
     <div class="col-xxl-4 col-xl-4 col-md-4 position-relative">
         <div class="style3 d-flex zz position-relative">
             <div>
                 <img class="style4" src="assets/images/logo-Arg-Prog.png"
                     alt="Certificado curso Argentina programa segunda etapa">
                 <p class="style5">Argentina Programa segunda etapa</p>
                 <p>Programación Web Full Stack - 480hs reloj</p>
                 <p><b>Período:</b> Ago-2022 - Nov-2022</p>
             </div>
             <div class="zz">
                 <!-- Boton lapiz -->
                 <button type="button" class="btn d-md-block" data-bs-toggle="modal"
                     data-bs-target="#modal-edicion-educacion"><i class="fa fa-pencil" aria-hidden="true"></i></button>

                 <!-- Boton cruz -->
                 <button type="button" class="btn d-md-block" data-bs-toggle="modal"
                     data-bs-target="#modal-eliminar-educacion"><i class="fa fa-times" aria-hidden="true"></i></button>
             </div>
         </div>
     </div>
 </section>

 <!------------------------------------------------------------------------------------------------------------------->

<!-- Modal edicion campo educacion -->
<div class="modal fade" id="modal-edicion-educacion" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Edita tus datos de educacion</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <label for="input-foto">Selecciona una imagen</label>
          <input type="file" class="form-control" id="input-foto">
        </div>
        <div class="form-group">
          <label for="input-establecimiento">Ingresa el nombre del establecimiento o entidad (máximo 50 caracteres)</label>
          <input type="text" class="form-control" id="input-establecimiento" maxlength="50">
          <small class="form-text text-muted"><span id="counter">50</span> caracteres restantes</small>
        </div>
        <div class="form-group">
          <label for="input-estudio">Ingresa el estudio y las horas de reloj</label>
          <input type="text" class="form-control" id="input-estudio">
        </div>
        <div class="form-group">
          <label for="input-fecha">Ingresa la fecha de finalización</label>
          <input type="date" class="form-control" id="input-fecha" maxlength="50">
          <small class="form-text text-muted"><span id="counter">50</span> caracteres restantes</small>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
        <button type="button" class="btn btn-primary">Guardar cambios</button>
      </div>
    </div>
  </div>
</div>


<!-- Modal eliminar campo educacion -->
<div class="modal fade" id="modal-eliminar-educacion" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Eliminar tu estudio</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        ¿Seguro desea eliminar este estudio?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
        <button type="button" class="btn btn-danger">Eliminar</button>
      </div>
    </div>
  </div>
</div>
