.sobreMi{
  background-repeat: no-repeat;
  padding: 1.25rem 1.25rem;
  border: 0.063rem solid #cccccc;
  box-shadow: 0 0 0.313rem #cccccc;
  padding-left: 1.25rem;
  margin-top: 0.2rem;
  background-color: antiquewhite;
  text-align: center;
}

.zz{
  position: absolute;
  top: 0;
  right: 0;
}
