<!-- Banner -->
<div class="d-flex position-relative">

  <div><img id="banner" class="w-100" src="assets/images/banner.png" alt="Banner">
  </div>

  <div class="zz row flex-column" id="icono-ajuste-banner">

      <!-- Boton pencil -->
      <button type="button" class="btn col-6" data-bs-toggle="modal" data-bs-target="#cambio-banner-modal">
          <i class="fa fa-pencil" aria-hidden="true"></i>
      </button>

      <!-- Boton trash -->
      <button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#modal-eliminar-banner"><i
              class="fa-solid fa-trash-can"></i></button>
  </div>
</div>

<!-- Modal eliminar banner -->
<div class="modal fade" id="modal-eliminar-banner" tabindex="-1" aria-labelledby="modal-borrar-banner-label"
  aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modal-borrar-banner-label">Eliminar banner</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        ¿Estás seguro que deseas eliminar el banner?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
        <button type="button" class="btn btn-danger" id="eliminar-banner-btn">Eliminar</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal edicion banner -->
<div class="modal fade" id="cambio-banner-modal" tabindex="-1" aria-labelledby="cambio-banner-modal-label"
aria-hidden="true">
<div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="cambio-banner-modal-label">Cambiar banner</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <div class="form-group">
                <label for="banner-input">Selecciona un archivo de imagen:</label>
                <input type="file" class="form-control-file" id="banner-input">
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
            <button type="button" class="btn btn-primary" id="guardar-cambios-btn">Guardar cambios</button>
        </div>
    </div>
</div>
</div>
