.hero{
    background-image: url(../../../assets/images/banner2.jfif);
    background-repeat: no-repeat;
    background-size: 100%;
  }

  .zz{
    position: absolute;
    top: 0;
    right: 0;
  }

  .sobreMi{
    padding-bottom: 23rem;

  }

  .fotoPerfilCargo{
    margin-left: 6rem;
  }


