<!-- QR -->
<h1 id="escaneame">Escanéame!</h1>
<section class="qr d-flex position-relative">
    <div>
        <img class="qr-img" src="../../../assets/images/QR-Repositorio-Web.png" alt="QR de mi curriculum vitae">
    </div>
    <div class="zz">
        <!-- Boton lapiz -->
        <button type="button" class="btn d-md-block" data-bs-toggle="modal" data-bs-target="#modal-edicion-qr"><i
            class="fa fa-pencil" aria-hidden="true"></i></button>
        <!-- Boton cruz -->
        <button type="button" class="btn d-md-block" data-bs-toggle="modal" data-bs-target="#modal-eliminar-qr"><i
            class="fa fa-times" aria-hidden="true"></i></button>
    </div>
</section>


<!-- Modal edicion campo QR -->
<div class="modal fade" id="modal-edicion-qr" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Edita tu QR</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <label for="input-qr">Selecciona una imagen de QR</label>
          <input type="file" class="form-control" id="input-qr">
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
        <button type="button" class="btn btn-primary">Guardar cambios</button>
      </div>
    </div>
  </div>
</div>


<!-- Modal eliminar campo QR -->
<div class="modal fade" id="modal-eliminar-qr" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Eliminar QR</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        ¿Seguro desea eliminar el QR?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
        <button type="button" class="btn btn-danger">Eliminar</button>
      </div>
    </div>
  </div>
</div>
