<!-- QR -->
<h1 id="escaneame">Escanéame!</h1>
<section class="qr d-flex position-relative">
    <div>
        <img class="qr-img" src="../../../assets/images/qrcode_www.linkedin.com.png" alt="QR de mi curriculum vitae">
    </div>
    <div class="zz">
        <!-- Boton lapiz -->
        <button type="button" class="btn d-md-block" data-bs-toggle="modal" data-bs-target="#staticBackdrop"><i
            class="fa fa-pencil" aria-hidden="true"></i></button>
        <!-- Boton cruz -->
        <button type="button" class="btn d-md-block" data-bs-toggle="modal" data-bs-target="#staticBackdrop"><i
            class="fa fa-times" aria-hidden="true"></i></button>
    </div>
</section>
